<div class="d-flex">

  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">Gifs App</h3>
    <hr class="text-white">
    
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">
        Dashboard
      </a>
    </div>
  </div>

  <div class="container">
    <div class="row p-3">
      <h5> Search: </h5>
      <input 
        type="text" 
        class="form-control" 
        placeholder="Search Gifs..."
      />
    </div>

    <hr>

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Earum perspiciatis reprehenderit 
        quis quas inventore ab labore rerum, veniam 
        excepturi praesentium ipsa suscipit sed, libero 
        doloremque saepe ducimus velit quisquam exercitationem.
      </div>
    </div>
  </div>

</div>